{% extends 'web/base_bootstrap.html' %}
{% load static %}
{% block navbar_extra %}
    {% include 'web/dropdowns/decoder.html' %}
{% endblock %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Time</th>
            <th title="Transponder type">Type</th>
            <th colspan="2">Transponder</th>
            <th>Strength</th>
            <th>Hits</th>
            <th>Flags</th>
            <th>Diff</th>
        </tr>
        </thead>
        <tbody>
        {% for passing in passings %}
            <tr>
                <td title="{{ passing.timestamp }}">{{ passing.saved_time|date:'Y-m-d H:i' }}</td>
                <td>{{ passing.transponder.transponder_type }}</td>
                <td>
                    <a href="?decoder={{ passing.decoder_id }}&amp;transponder={{ passing.transponder.number }}">{{ passing.transponder.number }}</a>
                </td>

                <td>{% include 'web/include/avatarnick.html' with transponder=passing.transponder %}</td>
                <td>
                    <meter value="{{ passing.signal }}"
                           min="40" max="150" low="60" high="100" optimum="130"
                           style="width: 100px; height: 1.3em"
                    >{{ passing.signal }}</meter>
                    {{ passing.signal }}</td>
                <td>{{ passing.hit_count }}</td>
                <td>{{ passing.flags }}</td>
                <td>{{ passing.diff }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}